<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.summer.chia.mapper.PreRegistrationMapper">
    <select id="queryOne" resultMap="CSPPreRegistrationInfo">
        select csp_info.id      as csp_id,
               csp_info.name    as csp_name,
               csp_info.state   as csp_state,
               s.id             as student_id,
               s.name           as student_name,
               s.student_number as student_number
        from csp_info
                 left join pre_registration pr on csp_info.id = pr.csp_id
                 left join student s on pr.student_id = s.id
        where pr.csp_id = #{cid}
          and s.id = #{sid}
    </select>
    <resultMap id="CSPPreRegistrationInfo" type="org.summer.chia.pojo.ao.CSPPreRegistrationInfo">
        <result property="cspId" column="csp_id"/>
        <result property="cspName" column="csp_name"/>
        <result property="cspState" column="csp_state"/>
        <result property="studentId" column="student_id"/>
        <result property="studentName" column="studentName"/>
        <result property="studentNumber" column="student_number"/>
    </resultMap>
</mapper>